html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/*login / register part*/
.logo-container img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

/*home part*/
.plus-button {
    font-size: 20px;
}

.nav-item .dropdown-menu {
    background-color: #343a40 !important;
}

.nav-item .dropdown-menu .dropdown-item {
    color: #ffffff !important;
}

.nav-item .dropdown-menu .dropdown-item:hover,
.nav-item .dropdown-menu .dropdown-item:focus {
    background-color: #495057 !important;
    color: #ffffff !important;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.navbar .profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
/*Settings part*/
.profile-pic-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

.profile-pic {
    width: 100%;
    height: auto;
}


/*footer part*/
footer {
    color: #e0e0e0;
    height: 280px;
    line-height: 60px;
    position: relative;
    clear: both;
}

footer a.text-light {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 24px;
}

footer a.text-light:hover {
    text-decoration: underline;
}

footer h5 {
    color: #ffffff;
    margin-bottom: 20px;
}

footer p, footer ul {
    color: #e0e0e0;
    line-height: 1.5;
}

footer ul {
    padding-left: 0;
    list-style: none;
}


/*home*/
.list-group-item {
    background-color: #343a40;
    color: #ffffff;
    border-color: #454d55;
    padding: 10px;
    margin-bottom: 10px;
}

.list-group-item:hover, .list-group-item:focus {
    background-color: #23272b; /* Slightly lighter background on hover/focus */
    color: #ffffff;
}

.dropdown-menu {
    background-color: #343a40; /* Dark background for dropdown menus */
    color: #ffffff;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #242424; /* Slightly lighter background on hover/focus */
    color: #ffffff;
}