body {
    background-color: #121212; /* Dark shade of gray */
    color: #e0e0e0; /* Light color for text for better contrast */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/*login / register part*/
.logo-container img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

/*home part*/
.plus-button {
    font-size: 20px;
}

.nav-item .dropdown-menu {
    background-color: #343a40 !important;
}

.nav-item .dropdown-menu .dropdown-item {
    color: #ffffff !important;
}

.nav-item .dropdown-menu .dropdown-item:hover,
.nav-item .dropdown-menu .dropdown-item:focus {
    background-color: #495057 !important;
    color: #ffffff !important;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

/*Settings part*/
.profile-pic-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

.profile-pic {
    width: 100%;
    height: auto;
}