<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Repository</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/images/logo.png" alt="Logo" class="navbar-logo">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle plus-button" href="#" id="navbarDropdownCreate" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    +
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCreate">
                    <a class="dropdown-item" href="/repositories/create-repository">New Repository</a>
                    <a class="dropdown-item" href="/create-organization">New Organization</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img th:if="${profilePicPath}" th:src="@{/uploads/{profilePicPath}(profilePicPath=${profilePicPath})}" alt="Profile Picture" onerror="this.src='/images/default-pic.png'" class="profile-pic"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/repositories/repositories">Profile</a>
                    <a class="dropdown-item" href="/settings">Settings</a>
                    <a th:if="${userRank == 'OWNER'} or ${userRank == 'ADMIN'} or ${userRank == 'MODS'}" class="dropdown-item" href="/dashboard">Dashboard</a>
                    <a class="dropdown-item" href="/perform_logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Create New Repository</h2>
    <form th:action="@{/repositories/create-repository}" th:object="${repository}" th:method="post">
        <div class="form-group">
            <label for="name">Repository Name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Repository Name" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" th:field="*{description}" class="form-control" placeholder="Repository Description"></textarea>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" id="private" th:field="*{private}" class="form-check-input">
            <label for="private" class="form-check-label">Private</label>
        </div>
        <button type="submit" class="btn btn-primary">Create Repository</button>
    </form>
</div>
</body>
</html>
