<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>
<body class="bg-dark text-light">
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <div class="logo-container mb-4">
            <img src="/images/logo.png" alt="Logo" style="width: 100px; height: auto;">
        </div>
        <form class="form-signin" action="/register" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" class="form-control mb-2" name="username" placeholder="Username" required autofocus>
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" class="form-control mb-2" name="email" placeholder="Email" required>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control mb-2" name="password" placeholder="Password" required>
            <label for="passwordConfirm" class="sr-only">Confirm Password</label>
            <input type="password" id="passwordConfirm" class="form-control mb-3" name="passwordConfirm" placeholder="Confirm Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            <p class="mt-2 text-muted">
                <a href="/login" class="text-light">Already have an account? Login here!</a>
            </p>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
        </form>
    </div>
</div>
<footer class="bg-dark text-light pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>This is a just a funny project that make me learn Springboot</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: arinonia.dev@gmail.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="https://discord.gg/dBMZkKMYnY" target="_blank" class="text-light mr-2"><i class="fab fa-discord"></i></a>
                <a href="https://www.linkedin.com/in/thibaud-leulier-057959245/" target="_blank" class="text-light mr-2"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/Arinonia" target="_blank" class="text-light"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                © 2024 OpenSJGit. All Rights Free we love open source here <3.
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
