<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-dark text-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/images/logo.png" alt="Logo" class="navbar-logo">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle plus-button" href="#" id="navbarDropdownCreate" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    +
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCreate">
                    <a class="dropdown-item" href="/create-repository">New Repository</a>
                    <a class="dropdown-item" href="/create-organization">New Organization</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img th:if="${profilePicPath}" th:src="@{/uploads/{profilePicPath}(profilePicPath=${profilePicPath})}" alt="Profile Picture" onerror="this.src='/images/default-pic.png'" class="profile-pic"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="/settings">Settings</a>
                    <a th:if="${userRank == 'OWNER'} or ${userRank == 'ADMIN'} or ${userRank == 'MODS'}" class="dropdown-item" href="/dashboard">Dashboard</a>
                    <a class="dropdown-item" href="/perform_logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div th:if="${error != null}" class="alert alert-danger" role="alert">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${message != null}" class="alert alert-success" role="alert">
        <p th:text="${message}"></p>
    </div>
    <h2>Profile Settings</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="profile-info">
                <h3 th:text="${username}">Username</h3>
                <p>Email: <span th:text="${email}">user@example.com</span></p>
            </div>
            <div class="col-md-4">
                <div class="profile-pic-container mb-3">
                    <img th:if="${profilePicPath}" th:src="@{/uploads/{profilePicPath}(profilePicPath=${profilePicPath})}" alt="Profile Picture" onerror="this.src='/images/default-pic.png'" class="profile-pic"/>
                </div>
            </div>
            <form action="/updateUserSettings" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="profilePicture">Profile Picture</label>
                    <input type="file" class="form-control-file" id="profilePicture" name="profilePicture" accept="image/png, image/jpeg, image/gif">
                </div>

                <div class="creation-date">
                    <strong>Creation Date:</strong> <span th:text="${creationDate}">2024-02-26</span>
                </div>
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password" required>
                </div>

                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password">
                </div>

                <div class="form-group">
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm New Password">
                </div>

                <!-- This is display only if currentUser.isConfirmed_mail() return false in SettingsController-->
                <div class="form-group" th:if="${!mail_confirmed}">
                    <p>If you haven't confirmed your email yet, <a href="#">click here</a> to send a confirmation email.</p>
                </div>

                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
